$purple: #762a83;
$green: #1b7837;


html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; 
}


#container {
  max-height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  position: relative;

  > header, > div {
    display: flex;
    justify-content: space-between;
  }
}

header {
  position: relative;
  flex: 0 1 auto;
  margin: 1rem;

  #trianglify {
    flex: 1 1 auto;
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 4px;
  }

  h1 {
    flex: 1 1 auto;
    text-align: center;
    padding: 2rem 0;
  }

}




#panels {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 1rem;

  .panel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    padding: 1rem;

    border: 1px solid #DDD;
    border-radius: 4px;

    &:nth-of-type(2) {
      margin: 0 1rem;
    } 

    > div {
      display: flex;
      align-items: flex-start;
      margin: 0 auto;

      .uom {
        display: inline-block;
        margin-left: 6px;
      }
    }

    label {
      font-size: 1.2em;
    }

    label, span {
      text-align: center;
    }

    button {
      margin: 0 auto;
      max-width: 80px;
    }

    .display-value {
      font-size: 2em;
    }


  }
}

#chart {
  flex: 1 1 auto;
  padding: 0;
  margin: 1rem;    

  > .highcharts-container {
    border: 1px solid #DDD;
    border-radius: 4px;
  }
}



// led styles
.led {
  display: inline-block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  background-color: #CCC;
  border-radius: 50%;

  transition: all 400ms ease-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 2px 1px;

  &:hover {
    cursor: pointer;
  }

}

.led-red {
  background-color: #F00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-green {
  background-color: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}



// light theme
body {
  background-color: #F5F5F5;
  color: #4d4d4d;

  h1 {
    color: #4d4d4d;
  }

  .panel {
    background-color: #FFF
  }

  #temp {

    .display-value, .uom {
      color: $purple;
    }
  }

  #uv {

    .display-value {
      color: $green;
    }
  }
}

@media (max-width: 510px) {
  #container{
    header {
      display: none;
    }

    #panels {
      margin-top: 1rem;
    }
  } 
}
