body {
  overflow: hidden;
}

#trianglify {
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
} 

#container {
  position: relative;

  margin: 0 auto;
  max-width: 1200px;  
  overflow: hidden;
}

h1 {
  margin: 1rem;
  text-align: center;
}

#panels {
  display: flex;
  justify-content: space-around;

  .panel {
    flex: 1;
    margin: 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    padding: 1rem;

    border: 1px solid #DDD;
    border-radius: 4px; 

    > div {
      display: flex;
      align-items: flex-start;
      margin: 0 auto;

      .uom {
        display: inline-block;
        margin-left: 6px;
      }
    }

    label {
      font-size: 1.2em;
    }

    label, span {
      text-align: center;
    }

    button {
      margin: 0 auto;
      max-width: 80px;
    }

    .display-value {
      font-size: 2em;
    }


  }
}

#chart {
  margin: 1rem;

  > .highcharts-container {
    border: 1px solid #DDD;
    border-radius: 4px;
  }
}



// led styles
.led {
  display: inline-block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  background-color: #CCC;
  border-radius: 50%;

  transition: all 400ms ease-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 2px 1px;

  &:hover {
    cursor: pointer;
  }

}

.led-red {
  background-color: #F00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-green {
  background-color: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}



// light theme
body {
  background-color: #F5F5F5;

  h1 {
    color: #FFF;
  }

  .panel {
    background-color: #FFF
  }

  #temp {

    .display-value, .uom {
      color: #29B6F6
    }
  }

  #uv {

    .display-value {
      color: #FFA726
    }
  }
}
