extends layout.pug

block page_content
	h1 Chameleon Monitoring System
	h3 Monitors the following:
	ul
		li 
			label UV light
			span#uv.display-value
		li
			label Temperature
			span#temp.display-value
		li Water level on misting system drain
	#chart

block page_scripts
	script(src="public/js/libs/jquery.min.js")
	script(src="public/js/libs/highcharts.min.js")
	script(src="public/js/libs/socket.io.js")
	script(src="public/js/index.js")