html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

#container {
  max-height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative; }
  #container > header, #container > div {
    display: flex;
    justify-content: space-between; }

header {
  position: relative;
  flex: 0 1 auto;
  margin: 1rem; }
  header #trianglify {
    flex: 1 1 auto;
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 4px; }
  header h1 {
    flex: 1 1 auto;
    text-align: center;
    padding: 2rem 0; }

#panels {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem; }
  #panels .panel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    border: 1px solid #DDD;
    border-radius: 4px; }
    #panels .panel:nth-of-type(2) {
      margin: 0 1rem; }
    #panels .panel > div {
      display: flex;
      align-items: flex-start;
      margin: 0 auto; }
      #panels .panel > div .uom {
        display: inline-block;
        margin-left: 6px; }
    #panels .panel label {
      font-size: 1.2em; }
    #panels .panel label, #panels .panel span {
      text-align: center; }
    #panels .panel button {
      margin: 0 auto;
      max-width: 80px; }
    #panels .panel .display-value {
      font-size: 2em; }

#chart {
  flex: 1 1 auto;
  padding: 0;
  margin: 1rem; }
  #chart > .highcharts-container {
    border: 1px solid #DDD;
    border-radius: 4px; }

.led {
  display: inline-block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  background-color: #CCC;
  border-radius: 50%;
  transition: all 400ms ease-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 2px 1px; }
  .led:hover {
    cursor: pointer; }

.led-red {
  background-color: #F00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px; }

.led-green {
  background-color: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px; }

body {
  background-color: #F5F5F5;
  color: #4d4d4d; }
  body h1 {
    color: #4d4d4d; }
  body .panel {
    background-color: #FFF; }
  body #temp .display-value, body #temp .uom {
    color: #762a83; }
  body #uv .display-value {
    color: #1b7837; }

@media (max-width: 510px) {
  #container header {
    display: none; }
  #container #panels {
    margin-top: 1rem; } }
