extends layout

block page_content
    #container
        header
            #trianglify
            h1 Chameleon Monitoring System
        div#panels
            #temp.panel
                label Temperature
                div
                    span.display-value ?
                    span.uom °F
            #uv.panel
                label UV Index
                span.display-value ?
            #drain.panel 
                label Drain level
                span.led
        #chart

block page_scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.7/highcharts.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js")
    script
        include ./../../public/js/index.js